@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
* {
  font-family: 'Nunito', sans-serif;
}
.custom-card-1 {
  width: full;
  height: 196px;
  left: 17px;
  top: 144px;
  background: #002984;
  box-shadow: 4px 4px 8px rgba(0, 41, 132, 0.25);
  border-radius: 8px;
  margin: 10px;
}

.custom-card-2 {
  width: 343px;
  height: 343px;
  left: 15px;
  top: 72px;
  background: #e0e0e0;
  box-shadow: 4px 4px 8px rgba(0, 41, 132, 0.25);
  border-radius: 8px;
}
